
*.qgs~
2018_09-carto-vs-archi/app/node_modules
2018_09-carto-vs-archi/app/dist/caddy.exe

2018_09-carto-vs-archi/app/node_modules
2018_09-carto-vs-archi/app/dist/index\.js
2018_09-carto-vs-archi/app/node_modules
2018_09-carto-vs-archi/app/dist/index\.js\.map